@import "components/notfound";
@import "components/searchfieldforsearch";
@import "components/imagelists";
@import "components/searchfieldforhome";
@import "components/searchresult";
@import "components/middlebarforsearch";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}

.loading {
  padding: 2rem 2rem;
}
.footer {
  font-size: 10pt;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #f2f2f2;
  position: fixed;
  border-top: 1px solid #dadce0;

  &__div {
    right: 0;
    font-weight: bolder;
    position: absolute;
    margin-top: 0.8rem;
    margin-right: 1rem;
  }
}
@media screen and (max-height: 600px) {
  .footer {
    display: none;
  }
}
.home {
  height: 100%;
}
