@import "components/notfound";
@import "components/searchfieldforsearch";
@import "components/lists";
@import "components/list";
@import "components/searchfieldforhome";
@import "components/searchresult";
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap");
* {
  font-family: "Tomorrow", sans-serif;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
