.list {
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  background-color: yellow;
  &__img {
    object-fit: contain;
    width: 100%;
    display: block;
  }
  &__text {
    font-size: 12px;
  }
}
