.page {
  display: flex;
  justify-content: left;
  align-items: center;
}
.lists {
  overflow: hidden;
  align-items: center;
  margin-top: 10rem;
  cursor: pointer;
  padding: 5px 5px;
  &__list {
    float: left;
    padding: 0 2px;
    box-sizing: border-box;
    flex-direction: column;
    &__img {
      object-fit: contain;
      width: 100%;
      display: block;
    }
    &__text {
      font-size: 12px;
    }
    &:hover {
      transition: all 0.75s ease-out;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5),
        0px 0px 50px rgba(0, 0, 0, 0.5);
    }
  }
}
@media (min-width: 1301px) {
  .lists__list {
    width: 25%;
  }
}
@media (max-width: 1300px) and (min-width: 601px) {
  .lists__list {
    width: 33.33333%;
  }
}
@media (max-width: 600px) {
  .lists__list {
    width: 100%;
  }
}
.list {
  padding: 0 10px;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  background-color: yellow;
  width: 100%;

  &__img {
    object-fit: contain;

    display: block;
  }
  &__text {
    font-size: 12px;
  }
  &:hover {
    transition: all 0.75s ease-out;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.5);
  }
}
