.SearchResult {
  padding-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  width: 100%;
  background-color: #fafbfc;
  padding-bottom: 45px;
  &__ul {
    border: 1px solid#edeff1;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    &__li {
      border: 1px solid#edeff1;
      &__a {
        display: grid;
        flex-direction: row;
        margin: 1rem 0;

        grid-template-rows: repeat(2);
        grid-template-areas:
          "div img"
          "div2 none";
        &__div {
          padding-left: 30px;
          margin-top: 45px;

          font-size: 20px;
          &:hover {
            font-weight: bold;
          }
        }
        &__img {
          height: 180px;
          transform: scale(1);
          padding: 0 30px;
          &:hover {
            transition: 0.5s ease-in-out;
            transform: scale(1.03);
          }
        }
        &__div2 {
          margin-top: -90px;
          padding-left: 30px;

          font-size: 15px;
        }
      }
      &:hover {
        outline: auto;
        outline-color: #c9c4c7;
      }
      & + & {
        margin-top: 1rem;
      }
    }
  }
}
